/* GLOBAL SETTINGS */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: calibri, sans-serif;
    display: flex;
    justify-content: center;
}

/* WELCOME CONTAINER */

.welcome-container {
    text-align: center;
}

.welcome-container h1 {
    font-weight: lighter;
    font-size: 4em;
    font-family: "Space Mono", monospace;
}

/* REGISTER CONTAINER */

.register-container {
    display: flex;
    flex-direction: column;
}

.register-container input,
button {
    margin: 5px 0 5px 0;
}

.register-container input {
    border-style: none;
    background-color: #f6f8fa;
    height: 50px;
    font-size: 1em;
    text-align: center;
}

.register-container button {
    border-style: none;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    height: 50px;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.register-container button:hover {
    background-color: #4e4e4e;
    color: #fff;
}

/* LOGIN CONTAINER */

.login-container {
    display: flex;
    flex-direction: column;
}

.login-container h1 {
    font-weight: 100;
}

.login-container input,
button {
    margin: 5px 0 5px 0;
}

.login-container input {
    border-style: none;
    background-color: #f6f8fa;
    height: 50px;
    font-size: 1em;
    text-align: center;
}

.login-container button {
    border-style: none;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    height: 50px;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.login-container button:hover {
    background-color: #4e4e4e;
    color: #fff;
}

/* NAVIGATION */

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4e4e4e;
    color: #fff;
    width: 100vw;
    padding: 20px;
}

.navigation h2 {
    margin: 0;
}

.navigation img {
    max-width: 50px;
    max-height: auto;
}

.navigation img:hover {
    cursor: pointer;
}

.logo-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#logout-button {
    margin-left: 20px;
}

#logout-button:hover {
    cursor: pointer;
}

/* UPLOADER SETTINGS */

.outer-modal {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: tomato;
    position: fixed;
}

.inner-modal {
    margin-top: 5%;
    width: 50%;
    height: 50%;
    background-color: aqua;
}

/* MISC */

.empty {
    border-style: none;
    background-color: #fff;
    border: 1px solid #fff;
    height: 50px;
}

/* .error {
    color: red;
} */

/* https://colorhunt.co/palette/143225 */
