* {
    color: red;

    font-family: "Love ya like a sister";
    margin: 0;
}

body {
    background-image: url("/background_2.jpg");
    background-size: auto;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 50px;
    margin-top: 20px;
}

h2 {
    /* color: black; */
        background: opacity: 0.6;
}

h3 {
    font-size: 25px;
}

input {
    border-color: black;
    background-color: black;
    width: 400px;
    height: 40px;
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

::placeholder {
    color: red;
    font-size: 20px;
}

.logo {
    border: transparent;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.first_name {
    margin-bottom: 10px;
}

.pleaseRegister {
    padding-top: 10px;
    font-size: 30px;
}

.logoAll {
    position: absolute;
    top: 0;
    left: 0;
}

#welcomeMessage {
    opacity: 0.6;
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#signUp,
#logIn {
    margin-top: 10px;
    background-color: black;
    font-size: 20px;
    border: transparent;
}
