* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}



body {
  font-size: 10px;
  background: white;
  font-family: 'Titillium Web', sans-serif;
  overflow-x:hidden;
}

img {
  max-height: 100%;
}

footer {
  bottom: 0;
  width: 100vw;
  height: 3rem;
  margin: auto;
  background: gold;
  position: absolute;
  display: flex;
  align-items: center;
  overflow: hidden;
}

footer * {
  padding-left: 1rem;
  font-size: 1.3rem;
  
}

header {
  top: 0;
  height: 5rem;
  background: khaki;
  position: relative;
  z-index: 10;
  /* display: flex;
  align-items: center;
  overflow: hidden; */
}

header * {
  font-size: 1.3rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

header .header-profile.outer{
  right: 0;
  position: absolute;
  top: 0;
  padding: 0;
  display: flex;
  justify-content: end;
}


header .header-profile img{
  border-radius: 50%;
  object-fit: cover;
  width: 4rem;
  height: 4rem;
}

#header-items {
  display: flex;
}

.header-item {
  text-align: center;
  vertical-align: middle;
  line-height: 90px; 
}

a {
  color: hotpink;
  text-decoration: underline;
}

/* mouse over link */
a:hover {
  color: blue;
  cursor: pointer;

}

h1 {
  text-align: center;
  font-size: 4rem;
}

form {
  width: 20rem;
  margin: auto;
  font-size: 2rem;
  padding: 2rem;
}

form *{
  width: 100%;
  line-height: 1.5rem;;
}

form p{
  font-size: 1rem;
}

form .error {
  color: red;
  font-size: 1.5rem;

}

.hidden {
  display: none;
}

.editProfile {
  display: flex;
  justify-content: center;
}

.editProfile .left {
 display: flex; 
 padding: 2rem;
}

.editProfile .right {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 30rem;
 }

 .editProfile * {

  padding: 1rem;
 }


 .editProfile .right .title{
  text-align: right;
  /* padding-right: 1rem; */
  border-right: 2px solid grey;
 }

 .editProfile .right input{
  padding: 0;
  margin: 1rem;
 }


.editProfile img {
border: 1rem aliceblue solid;
height: 15rem;
width: 13rem;
object-fit: cover;
}

.editProfile .editprofilepic {
  position: relative;
  text-align: center;
  color: aliceblue;
  height: 15rem;
  width: 13rem;
}

.editprofilepic p {
  display: none;
}


.editprofilepic:hover p {
  display: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  font-size: 2rem;
}

.editprofilepic:hover img{
  opacity: .5;
}

.form-line-title {
  display: flex; 
}

.saved{
  color: red;
  font-style: italic;
  text-align: center;
}

#dropdown {
  position: absolute;
  right: 0;
  width: 10rem;
  background-color: black;
  font-size: 2rem;
  color: white;
  padding: 1rem;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

#dropdown.show {
  transform: translateY(0);
  transition: transform 1s;
}

#settings {
  position: fixed;
  background: grey;
  width: 20rem;
  left: 50%;
  margin-top: 5rem;
  margin-left: -10rem;
  z-index: 30;
}

.submit {
  padding-top: 1rem;
}

#coverdiv {
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
}
